@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var pageName = Umbraco.Field("pageName", casing: RenderFieldCaseType.Lower);
    var projects = Model.Content.Site().FirstChild(pageName.ToString()).Children().Where(x => x.IsVisible());
}

<div class="page page--projects">
    <div class="container">
        <div class="hero margin--top-md">
            <h2 class="subtitle subtitle--bold pulled--left">@Umbraco.Field("categoryName")</h2>
        </div>
        <section class="margin--top-lg">
            <div class="row">

                @foreach (var item in projects)
                {
                    var projectCover = item.GetPropertyValue<IPublishedContent>("projectCover");

                    <a class="col col--md-6" href="@item.Url">

                        @Html.Partial("~/views/partials/medias/medias.cshtml", new MediasViewModel(medias: new List<IPublishedContent>() { projectCover }, width: 4, height: 3, cssModifiers: "multimedia--4by3 multimedia--zoom"))

                        <figcaption class="subtitle subtitle--bold margin--top-md pulled--center">@Umbraco.Field(item, "projectName")</figcaption>
                    </a>
                }

            </div>
        </section>
    </div>
</div>