$black                      : #000000;
$white                      : #FFFFFF;
$concrete                   : #f2f2f2;
$alto                       : #dddddd;
$gallery                    : #efefef;
$dove-gray                  : #737373;
$chathams-dark-blue         : #114b89;
$chathams-blue              : #183E71;
$azure                      : #2e5aa1;