@import '../utilities/utilities';

.hero {
    position: relative;

    &--fullheight {
        height: 100vh;
    }

    &--large {
        height: 80vh;
    }

    &__body {
        text-align: center;
        width: 100%;
    }

    &__info {
        @include position(absolute, $top: 1rem, $left: 1rem);

        @include mq('tablet-wide') {
            left: auto;
            right: 1rem;
        }
    }
}
