@import '../utilities/utilities';

.portlet {
    position: relative;

    &--tabs {
        display: flex;
        flex-direction: column;

        .portlet__tab {
            height: 125px;
            position: relative;
            @include grayscale();
            @include transition(height ease .4s);

            &.is-active {
                height: 300px;
                @include grayscale($on: false);

                .card {
                    @include fade-in();
                    @include transition(opacity .4s ease-out .4s, visibility .4s ease-out .4s);
                }
            }

            .card {
                @include fade-out();
                @include transition(opacity .4s ease-out, visibility .4s ease-out);

                .paragraph {
                    color: $white;
                }
            }
        }

        @include mq('tablet') {
            .portlet__tab {
                &.is-active {
                    height: 450px;

                    .card {
                        @include transition(opacity .4s ease-out, visibility .4s ease-out);
                    }
                }

                .card {
                    @include transition(opacity .4s ease-out, visibility .4s ease-out);
                }
            }
        }
    }
}