@import '../utilities/utilities';

@import '../../vendor/slick/slick';

.slider {
    height: 100%;
    position: relative;

    &--overflow-visible {
        .slick-list {
            overflow: visible !important;
        }
    }

    &--sliding-background {
        .slider__slide {
            &.slick-active {
                .multimedia {
                    &__source {
                        &.lazyloaded {
                            @include transform(scale(1.05) translate(-2.6%,0));
                        }
                    }
                }
            }

            .multimedia {
                &__source {
                    @include transform(scale(1.05));
                    @include transition(transform 5s ease-out);
                    @include vendor(transform-origin, center bottom);
                }
            }
        }
    }

    &--counter {
        .slider__slide {
            &.slick-slide {
                display: flex;
                flex-direction: column;
            }

            .multimedia {
                overflow: hidden;
            }
        }
    }

    &__slide {
        border: 0;
        height: 100%;
        position: relative;

        &.col {
            flex: none;
            height: auto;
        }
    }

    &__dots {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        width: 80%;

        li {
            margin-top: 2.5%;

            &.slick-active {
                button {
                    background: $color-primary;
                    height: 13px;
                    width: 13px;
                }
            }

            button {
                background: $white;
                border: 1px solid $color-primary;
                border-radius: 50%;
                color: transparent;
                cursor: pointer;
                display: block;
                height: 10px;
                margin-left: 5px;
                margin-right: 5px;
                outline: none;
                padding: 5px;
                width: 10px;
                @include transition(all .1s ease-out);
            }
        }
    }

    &__arrow {
        align-items: center;
        background: $white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: inline-flex;
        fill: $color-primary;
        flex-direction: row;
        height: 35px;
        justify-content: center;
        outline: none;
        padding: 0;
        text-transform: uppercase;
        width: 35px;
        @include transform(translate(0, -50%));
        @include position(absolute, $top: calc(50% - 18px));
        @include z-index('arrow');

        &--prev {
            left: 10px;
        }

        &--next {
            right: 10px;
        }

        svg {
            height: 20px;
            margin-top: 2px;
        }

        @include mq('tablet-wide') {
            top: calc(50% - 22px)
        }

        @include mq('desktop') {
            top: calc(50% - 26px)
        }
    }

    &__counter {
        position: relative;
        text-align: center;
        @include poly-fluid-sizing('font-size', $slider-caption-font-size);
        @include typography($color-primary, $font-primary, 700, 8);

        &:before,
        &:after {
            background: $color-primary;
            height: 2px;
            width: 5%;
            @include centerer($horizontal: false);
            @include pseudo();
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }
}
